* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

header {
    background-color: #5f27cd;
    padding: 16px 0;
    color: #fff;
    display: flex;
    border-bottom: 16px solid #341f97;
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
}

header button {
    margin-left: 16px;
}

form {
    background-color: #c8d6e5;
    padding: 24px 0;
    text-align: center;
    display: none;
}

form h2 {
    margin-bottom: 16px;
}

input, button {
    padding: 8px;
}

button {
    background-color: #009432;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

#botao-cancelar {
    background-color: red;
}

body {
    background-color:#c8d6e5;
    margin: 0; 
}

ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    padding: 0;
}

.imagem-container {
    position: relative;
    overflow: hidden;
    aspect-ratio: 16/9;
}

.imagem-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    transition: opacity 1s ease;
}

.imagem-container .overlay-imagem-link {
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all ease 0.3s;
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    height: 25%;
}

.imagem-container .overlay-imagem-link a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

.imagem-container:hover .overlay-imagem-link {
    opacity: 1;
}
